USER_AGENT=REPLACE_ME
DATA_EXPIRATION_IN_DAYS=REPLACE_ME
WATCHABLE_EVENT=REPLACE_ME
NEGA_BUCKET_NAME_READONLY=REPLACE_ME
NEGA_BUCKET_KEY=REPLACE_ME
NEGA_FIREBASE_DB=REPLACE_ME
DATABASE_URL=REPLACE_ME
BONSAI_URL=REPLACE_ME
AWS_ES_URL=REPLACE_ME
NEGA_BUCKET_ACCESS_KEY=REPLACE_ME
NEGA_BUCKET_SECRET_KEY=REPLACE_ME
AWS_ES_NEGA_ACCESS_KEY=REPLACE_ME
AWS_ES_NEGA_SECRET=REPLACE_ME
BONSAI_USERNAME=REPLACE_ME
BONSAI_PASSWORD=REPLACE_ME
DOWNLOAD_OVERRIDE=false
AWS_ES_REGION_NAME=REPLACE_ME
AWS_ES_SERVICE_NAME=REPLACE_ME
JDBC_DATABASE_URL=REPLACE_ME
JDBC_DATABASE_USERNAME=REPLACE_ME
JDBC_DATABASE_PASSWORD=REPLACE_ME
RELATIVE_PATH_TO_PAGE_STORAGE=path/ends/in/